{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>CoviChecker-HelpCenter</title>
    <link rel="stylesheet" href="{% static "./style/style.css" %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid nav-cont">
        <a class="navbar-brand" href="#">Covi-Checker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-link " aria-current="page" href="/">Home</a>
            <a class="nav-link " href="/about">About</a>
            <a class="nav-link" href="/prediction">Predictor</a>
            <a class="nav-link active" href="/helpcenter">Help-Center</a>
          </div>
        </div>
      </div>
    </nav>
   
      <div class="container help-cont">
          <h1>Covid-19 Help-Center</h1>
          <hr class="my-4">
            <h3>Symptoms</h3>
            <p>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.
             <br> Most common symptoms:
              <ul>
              <li>Fever
              <li>Dry cough
              <li>Tiredness</ul>
              Less common symptoms:
              <ul>
              <li>Aches and pains
              <li>Sore throat
              <li>Diarrhoea
              <li>Conjunctivitis
              <li>Headache
              <li>Loss of taste or smell
              <li>A rash on skin, or discolouration of fingers or toes</ul>
              Serious symptoms:
              <ul>
              <li>Difficulty breathing or shortness of breath
              <li>Chest pain or pressure
              <li>Loss of speech or movement
              </ul>
              Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.</p>
              <hr class="my-4">
              <H3>Preventions</H3>
              <p>
                    Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local health authority.
    <br>To prevent the spread of COVID-19:<ul>
   <li> Clean your hands often. Use soap and water, or an alcohol-based hand rub.
    <li>Maintain a safe distance from anyone who is coughing or sneezing.
    <li> Wear a mask when physical distancing is not possible.
      <li>Don’t touch your eyes, nose or mouth.
        <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
          <li>Stay home if you feel unwell.
            <li>If you have a fever, cough and difficulty breathing, seek medical attention.</ul>
    Calling in advance allows your healthcare provider to quickly direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections.

              </p>
              <hr class="my-4">
              <H3>Treatments</H3>
              <p>
                After exposure to someone who has COVID-19, do the following:<ul>
<li>Call your health care provider or COVID-19 hotline to find out where and when to get a test.
  <li>Cooperate with contact-tracing procedures to stop the spread of the virus.
    <li>If testing is not available, stay home and away from others for 14 days.
      <li>While you are in quarantine, do not go to work, to school or to public places. Ask someone to bring you supplies.
        <li>Keep at least a 1-metre distance from others, even from your family members.
          <li>Wear a medical mask to protect others, including if/when you need to seek medical care.
            <li>Clean your hands frequently.
              <li>Stay in a separate room from other family members, and if not possible, wear a medical mask.
                <li>Keep the room well-ventilated.
                  <li>If you share a room, place beds at least 1 metre apart.
                    <li>Monitor yourself for any symptoms for 14 days.
                      <li>Call your health care provider immediately if you have any of these danger signs: difficulty breathing, loss of speech or mobility, confusion or chest pain.
                        <li>Stay positive by keeping in touch with loved ones by phone or online, and by exercising at home.
  </ul>
              </p>
      </div>

    <footer style="position:relative;">
      <p>© Copyright 2021 Aditya</p>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>